<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>InputAndOutput</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>com.imooc.servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ExportWordInitServlet</servlet-name>
    <servlet-class>com.imooc.servlet.ExportWordInitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExportWordInitServlet</servlet-name>
    <url-pattern>/exportWord</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>ExportWordServlet</servlet-name>
    <servlet-class>com.imooc.servlet.ExportWordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExportWordServlet</servlet-name>
    <url-pattern>/exportWord1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ImportWordInitServlet</servlet-name>
    <servlet-class>com.imooc.servlet.ImportWordInitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImportWordInitServlet</servlet-name>
    <url-pattern>/importWord</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ImportWordServlet</servlet-name>
    <servlet-class>com.imooc.servlet.ImportWordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImportWordServlet</servlet-name>
    <url-pattern>/importWord1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ImportExcelInitServlet</servlet-name>
    <servlet-class>com.imooc.servlet.ImportExcelInitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImportExcelInitServlet</servlet-name>
    <url-pattern>/importExcel</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ImportExcelServlet</servlet-name>
    <servlet-class>com.imooc.servlet.ImportExcelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImportExcelServlet</servlet-name>
    <url-pattern>/importExcel1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ExportExcelInitServlet</servlet-name>
    <servlet-class>com.imooc.servlet.ExportExcelInitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExportExcelInitServlet</servlet-name>
    <url-pattern>/exportExcel</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ExportExcelServlet</servlet-name>
    <servlet-class>com.imooc.servlet.ExportExcelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExportExcelServlet</servlet-name>
    <url-pattern>/exportExcel1</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/jsp/common.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
</web-app>