<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>EL</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>EL</servlet-name>
    <servlet-class>com.imooc.EL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EL</servlet-name>
    <url-pattern>/EL</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>JSTLEL</servlet-name>
    <servlet-class>com.imooc.JSTLEL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSTLEL</servlet-name>
    <url-pattern>/JSTLEL</url-pattern>
  </servlet-mapping>
</web-app>